[submodule "contracts/zero-ex/contracts/deps/forge-std"]
	path = contracts/zero-ex/contracts/deps/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/utils/contracts/src/openzeppelin-contracts"]
	path = contracts/utils/contracts/src/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
