[submodule "contracts/zero-ex/contracts/deps/forge-std"]
	path = contracts/zero-ex/contracts/deps/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/erc20/lib/forge-std"]
	path = contracts/erc20/lib/forge-std
    url = https://github.com/foundry-rs/forge-std
[submodule "contracts/governance/lib/forge-std"]
	path = contracts/governance/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/governance/lib/openzeppelin-contracts"]
	path = contracts/governance/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "contracts/governance/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/governance/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/openzeppelin-contracts-upgradeable"]
	branch = v4.8.2
