# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
    build:
        docker:
            - image: circleci/node:8.12.0-browsers
            - image: circleci/postgres:9.6.5-alpine-ram
            - image: 0xorg/ganache-cli:6.0.0
            - image: 0xorg/mesh:9.0.1
              environment:
                ETHEREUM_RPC_URL: http://0.0.0.0:8545
                ETHEREUM_CHAIN_ID: 1337
                USE_BOOTSTRAP_LIST: 'true'
                VERBOSITY: 3
                PRIVATE_KEY_PATH: ''
                BLOCK_POLLING_INTERVAL: '2s'
                WS_RPC_ADDR: '0.0.0.0:60557'
                ETHEREUM_RPC_MAX_REQUESTS_PER_24_HR_UTC: '150000'
        working_directory: ~/repo
        environment:
            ETHEREUM_RPC_URL: http://0.0.0.0:8545
            CHAIN_ID: 1337
            MESH_WEBSOCKET_URI: ws://0.0.0.0:60557
            POSTGRES_USER: postgres
            POSTGRES_DB: circle_test
            POSTGRES_URI: 'postgresql://root@localhost/circle_test'
        steps:
            - checkout
            # Download and cache dependencies
            - restore_cache:
                  keys:
                      - v1-dependencies-{{ checksum "yarn.lock" }}
                      # fallback to using the latest cache if no exact match is found
                      - v1-dependencies-
            - run: yarn install
            - save_cache:
                  paths:
                      - node_modules
                  key: v1-dependencies-{{ checksum "yarn.lock" }}
            - run: yarn build
            - run: yarn lint
            - run: yarn prettier
            - run: yarn test
