name: Docker

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    name: Build and push image
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Build and push image
        uses: docker/build-push-action@v3
        with:
         push: true
         tags: ${{ secrets.DOCKER_REGISTRY_URL }}:${{ github.sha }}
